<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asar&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/script/script.js" defer></script>
</head>
<body>
<div class="notification-popup error" th:if="${error}">
  <span th:text="${error}"></span>
  <button class="close-notification">×</button>
</div>
<div class="notification-popup success" th:if="${success}">
  <span th:text="${success}"></span>
  <button class="close-notification">×</button>
</div>

<h1>Produkter</h1>

<section th:if="${randomProduct != null}">
  <h2>Random produkt</h2>
  <div class="product-row">
    <div class="product-card">
      <img th:src="${randomProduct.image}" alt="Produktbild">
      <h3 th:text="${randomProduct.title}"></h3>
      <p><b>Pris:</b> <span th:text="${randomProduct.price}"></span> SEK</p>
    </div>
  </div>
</section>

<section th:each="category : ${productsByCategory}">
  <h2 th:text="${category.key}"></h2>
  <div class="product-row">
    <div class="product-card" th:each="product : ${category.value}">
      <form action="/purchase" method="post">
        <img th:src="${product.image}" alt="Produktbild">
        <h3 th:text="${product.title}"></h3>
        <p><b>Pris:</b> <span th:text="${product.price}"></span> SEK</p>
        <input type="hidden" name="productId" th:value="${product.id}" />
        <button type="submit">Köp</button>
      </form>
    </div>
  </div>
</section>

</body>
</html>