<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            margin-left: 20px;
        }

        table td {
            border: 1px solid #aaa;
            padding: 5px 10px;
        }
    </style>
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asar&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/script/script.js" defer></script>
</head>
<body>
<div class="notification-popup error" th:if="${error}">
    <span th:text="${error}"></span>
    <button class="close-notification">×</button>
</div>
<div class="notification-popup success" th:if="${success}">
    <span th:text="${success}"></span>
    <button class="close-notification">×</button>
</div>


<div sec:authorize="hasAuthority('ROLE_ADMIN')">
    <h1>Beställningar</h1>
    <section>


        <table>
            <tr>
                <th>Kund</th>
                <th>Produkttitel</th>
                <th>Pris</th>
                <th>Åtgärd</th>
            </tr>
            <tr th:each="customerOrder : ${customerOrders}">
                <td th:text="${customerOrder.customer != null ? customerOrder.customer.username : 'Ingen kund finns.'}"></td>
                <td th:text="${customerOrder.product != null ? customerOrder.product.title : 'Ingen produkt finns.'}"></td>
                <td th:text="${customerOrder.product != null ? customerOrder.product.price + '$' : 'Ingen produkt finns.'}"></td>
                <td>
                    <form action="/delete-order" method="post">
                        <input type="hidden" name="customerOrderId" th:value="${customerOrder.id}"/>
                        <button type="submit">Ta bort</button>
                    </form>
                </td>
            </tr>
        </table>


    </section>
</div>


<div sec:authorize="hasAuthority('ROLE_USER')">
    <h1>Produkter</h1>

    <section th:if="${randomProduct != null}">
        <h2>Random produkt</h2>
        <div class="product-row">
            <div class="product-card">
                <form action="/purchase" method="post">
                    <img th:src="${randomProduct.image}" alt="Produktbild">
                    <h3 th:text="${randomProduct.title}"></h3>
                    <p><b>Pris:</b> <span th:text="${randomProduct.price}"></span>$</p>
                    <input type="hidden" name="productId" th:value="${randomProduct.id}"/>
                    <button type="submit">Köp</button>
                </form>
            </div>
        </div>
    </section>

    <section th:each="category : ${productsByCategory}">
        <h2 th:text="${category.key}"></h2>
        <div class="product-row">
            <div class="product-card" th:each="product : ${category.value}">
                <form action="/purchase" method="post">
                    <img th:src="${product.image}" alt="Produktbild">
                    <h3 th:text="${product.title}"></h3>
                    <p><b>Pris:</b> <span th:text="${product.price}"></span>$</p>
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <button type="submit">Köp</button>
                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>